<!DOCTYPE html>
<html>
{% block head %}

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/nav.css" />
    <script src="../static/js/jquery.min.js"></script>
</head>
{% endblock head %}

<body>



{% block nav %}
    
    <nav id ="navMenu">
        <ul >
            
            <li><a href="/">Home</a></li>
           
            <li><a href="/vehiclelist">Vehicles</a></li>
                
               
                  <li><a href="/carlist">Cars</a></li>
                  <li><a href="/trucklist">Trucks</a></li>
                  <li><a href="/buslist">Buses</a></li>
                  <li><a href="/motorlist">Motors</a></li>
                  
            </li>

            
            

            
            
            {% if user.is_authenticated %}
            <li class="logout"><a href="/logout">Logout</a></li>
            {%else%}
            <li><a href="/login">Login</a></li>
            {%endif%}
            

            
            
            
            
        </ul>
    </nav>
{% endblock nav %} 
    <header>
                                        
    </header>
    
{% block main %}
   
    <img src="../static/images/nissan.jpg">
{% endblock main %}

    <footer>

    </footer>

    
{% block scripts %}

    <script>

    </script>
{% endblock scripts %}    

</body>
</html>