#navMenu ul {
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:black;
}

#navMenu li {
    float: left;
}

#navMenu li > a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navMenu li > a:hover:not(.active) {
    background-color:lightblue;
}

.active {
    background-color: #4CAF50;
}

#navMenu li.logout {
    float: right;
    margin-right: 40px;
}

header{
width: 99,5%; height: 100px;
margin-top:2%;
border-style: solid;
border-color: lightgrey;
background-color: lightgrey;
}

footer{
width: 99,5%; height: 100px;
margin-top:2%;
border-style: solid;
border-color: lightgrey;
background-color: lightgrey;

}
