{% extends "index.html" %}
{% block main %}
<link rel="stylesheet" type="text/css" href="../../../static/css/main.css">

<table border="1">
<thead>
    <tr>
    <th>Type</th>
    <th>Make</th>
    <th>Model</th>
    <th>Year</th>
    <th>Price</th>
    <th>Engine</th>
    <th>Gearbox</th>
    <th>Mileage</th>
    <th>Condtion</th>
    
    


</tr>
</thead>
<tbody>
    {% for vehicles in object_list %}
    <tr>
    <td>{{ vehicles.vehicle_type }}</td>
    <td>{{ vehicles.make }}</td>
    <td>{{ vehicles.model }}</td>
    <td>{{ vehicles.year}}</td>
    <td>{{ vehicles.price }}</td>
    <td>{{ vehicles.engine }}</td>
    <td>{{ vehicles.gearbox}}</td>
    <td>{{ vehicles.mileage }}</td>
    <td>{{ vehicles.condition }}</td>

</tr>
{% endfor %}
</tbody>
</table>

{% endblock main %}