{% extends "index.html" %}
{% block main %}
<link rel="stylesheet" type="text/css" href="../../../static/css/main.css">

<table border="1">
    <thead>
        <tr>
            <th>Type</th>
            <th>Make</th>
            <th>Model</th>
            <th>Year</th>
            <th>Price</th>
            <th>Condtion</th>
            
            
            
            
        </tr>
    </thead>
    <tbody>
    {% for vehicles in object_list %}
    <tr>
    <td>{{ vehicles.vehicle_type }}</td>
    <td>{{ vehicles.make }}</td>
    <td>{{ vehicles.model }}</td>
    <td>{{ vehicles.year}}</td>
    <td>{{ vehicles.price }}</td>
    <td>{{ vehicles.condition }}</td>
    <td><a href="{% url "vehicle_detail" vehicles.id %}">view</a></td>
    


    {% if user.is_superuser %}
        
        <td><a href="{% url "vehicle_update" vehicles.id %}">edit</a></td>
        <td><a href="{% url "vehicle_confirm_delete" vehicles.id %}">delete</a></td>
        
            
            {%endif%}
    

    </tr>
    {% endfor %}
</tbody>
</table>
{% if user.is_superuser %}


<td><a href="{% url "vehicle_create"%}" >Create</a></td>
{%endif%}
<td><a href="{% url "sorted_vehicles"%}" >Sort</a></td>

{% endblock main %}